html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
}

button {
  margin: 2em 0.5em;
  padding: 0.5em 1em;
  color: cornflowerblue;
  background: #fff;
  border: 1px solid;
  border-radius: 0.25em;
}